# JWT Authentication Secret
JWT_SECRET=skalades-secret-key-2026

# Midtrans Configuration
# Set to 'true' for Production environment, 'false' for Sandbox
MIDTRANS_IS_PRODUCTION=false

# Your Midtrans API Keys (Available in your Midtrans Dashboard -> Settings -> Access Keys)
MIDTRANS_SERVER_KEY=SB-Mid-server-placeholder
MIDTRANS_CLIENT_KEY=SB-Mid-client-placeholder
